@charset "utf-8";
/* CSS Document */
.bardn{ width:100%; padding:20px 0px; background:#e5e5e5;  }
.brand{ width:1002px; margin:0 auto; position:relative;}
.brand_p{ width:900px; margin:0 auto; overflow:hidden; height:215px; position:relative;}
.brand_p ul{ float:left;}
.brand_p li{ float:left; width:300px; text-align:center; color:#fff; height:215px; overflow:hidden; position:relative;}
.brand_p li img{ width:125px; height:125px;}
.brand_p li h2{ line-height:26px; margin:10px 0; color:#000; font-size:16px;}
.brand_p li h2 a{ color:#000;}
.brand_p li h2 a:hover{ color:#0f71af;}
.brand_p li p{ padding:0 20px; height:44px; overflow:hidden; color:#6c6c6c}
/*.brand_p li.curtd h2{ color:#fff;}
.brand_p li.curtd p{ color:#ededed;}*/
.brand_p li.curtd .gref{ display:none;}
.prev{ background:url(/resources/lf/prev.png) no-repeat; width:33px; height:106px; cursor:pointer; position:absolute; left:0px; top:50px;}
.next{background:url(/resources/lf/next.png) no-repeat; width:33px; height:106px; cursor:pointer; position:absolute; right:0px; top:50px;}
.zhzj{ position:absolute; background:#070614; position:absolute;top:0px; width:300px; height:215px; opacity:0.4;filter:alpha(opacity=40);}
.paleft{ left:51px;}
.parigt{ right:51px;}
.content{ width:990px; background:#fff; margin:0 auto; box-shadow:0px 2px 12px #ccc; padding:20px 0; margin-bottom:80px; position:relative;
behavior:url(/../css/PIE.htc); position:relative; }
.titled{ border-bottom:1px solid #c2c2c2; padding-bottom:20px; padding-left:30px; margin-bottom:25px; color:#000; font-size:22px;}
.titled span{ font-family:Arial;}
.mbx{ width:990px; height:45px; background:url(/resources/lf/mbx_bg.png); line-height:45px; position:absolute; left:0px; top:-45px;}
.mbx a{ color:#000;}
.mbx a:hover{ text-decoration:underline;}
.fenbud{ float:right; margin-right:30px; color:#000}
/*3d*/
#example {
    padding-right: 2em;
    width: 400px;
    height: 260px;
    font-size: 16px;
	position:relative;
	top:60px;
	margin:60px auto 0px;
}
#example .roundabout-holder {
    list-style: none;
    height: 180px;
    margin-left: 0px;
    font-size: 1em;
}
#example .roundabout-moveable-item {
	position:relative;
    cursor: pointer;
    width: 364px;
    height: 276px;
    background-color: #fff;
    text-align: center;
    line-height: 30px;
    font-size: 28px;
   /* background: #F3F3F3;*/
	overflow:hidden;
}
#example .roundabout-in-focus img{ height:234px;}
#example h1{ text-align:center; font-size:16px; color:#000; line-height:28px; margin-top:10px; display:none;}
#example .roundabout-in-focus {cursor: auto;height:310px!important;}
#example .roundabout-in-focus h1{ display:block;}
.demolist li {
    list-style: disc;
    list-style-position: inside;
}
#myRoundabout li img{ width:100%; height:auto;}
/****/
.tixted{ width:800px; margin:0 auto; margin-top:30px; color:#666; position:relative; z-index:1000}
.tixted h1{ border-bottom:1px solid #ccc; line-height:44px; font-size:16px; color:#000; margin-bottom:10px;}
.csdpxt p{ text-indent:2em; }
.sweb{ height:0px; width:0px; overflow:hidden;}
.hesed{ background:url(/resources/lf/bg_black.png); width:364px; height:234px; position:absolute; left:0px; top:0px; display:none;}
.hesed img{ width:auto!important; height:109px!important; margin-top:50px;}
.w960{ width:960px; margin:0 auto;}
.culture li{ float:left; width:120px; line-height:36px; text-align:center; cursor:pointer; font-size:16px; background:#a8a18c; color:#fff;}
.culture li.chosed{ background:#08132c;}
.culture li.chosed1{ background:#08132c;}
.cul{margin-top:20px;}
.enter{ position:relative; }
.nv_list{ margin-top:1px;}
.nv_list li{ line-height:36px; text-align:center; background:#e5e5e5; color:#000; font-size:16px;
 font-weight:700; cursor:pointer; float:left; width:240px;}
.nv_list li span{ display:block; border-left:1px solid #fff; border-right:1px solid #727272;}
.nv_list li.sclect{ background:#959595; color:#fff;}
.txtre{ position:absolute; left:30px; top:30px;}
.txtre h1{ border-left:2px solid #2b82bc; background:#fff; color:#020603; line-height:42px; height:45px; padding:0 20px; float:left;}
.txtedr{ background:url(/resources/lf/pic11.png) no-repeat 30px top; padding-top:10px; line-height:45px;}
.wenbn{ background:url(/resources/lf/white_bg.png);border-left:2px solid #2b82bc; max-width:590px; padding-left:10px; line-height:28px;}
.wenbn p{ float:left; margin:0 20px; font-size:13px; color:#000;}
.weng{ width:0px; height:0px; overflow:hidden;}
.showtxt{ position:absolute; width:320px; left:30px; padding:5px 10px; top:50px; color:#222; font-size:14px; background:url(/resources/lf/white_bg.png);border-left:2px solid #2b82bc;}
.w940{ width:940px; margin:0 auto;}
.online{/* background:url(/resources/lf/pic12.jpg) no-repeat right bottom;*/ margin-bottom:30px;}
.online li{ display:block; border-bottom:1px dashed #ccc; padding-bottom:20px; margin-top:15px;}
.online li h3{ color:#212d47; font-size:18px; margin-bottom:10px;}
.online li a.lan{color:#0f71af; text-decoration:underline}
.online textarea{ border:1px solid #ccc; padding:5px; width:600px; text-indent:0px; height:120px;}
a.tijia{ background:url(/resources/lf/pic13.jpg) no-repeat; width:76px; height:28px; display:block; margin-top:15px;}
.luoine{}
.luoine input{ float:left; height:24px; border:1px solid #ccc; padding:0 10px; margin-right:5px;}
.luoine span{ float:left; margin-left:5px; margin-right:10px;}
.luoine a{ float:left; margin-left:5px;}
.lux{ margin:15px 0 10px;}
/****************/
.brief dt{ float:left;}
.brief dd{ float:right; width:640px; padding-top:50px;}
.brief dd p{ margin-top:10px; text-indent:2em;}
.txtde{ border-bottom:1px solid #1f2b43; height:32px; overflow:hidden; margin-top:25px;}
.txtde h1{ width:120px; height:34px; border-radius:2px; line-height:32px; text-align:center; background:#1f2b43;
 font-weight:100;color:#fff; font-size:18px; margin-bottom:5px;}
.table table{ width:100%; color:#5a5a5a; line-height:44px; text-align:center; border-collapse:collapse; margin-top:20px;}
.table th{ font-size:14px; background:#efefef; padding:0 5px;}
.table td{ border-bottom:1px solid #e0e0e0; padding:0 5px;}
.work{ background:#f1f1f1; color:#000; text-align:left; display:none;}
.work dd{ width:445px; margin:0 10px; padding:5px 0px; float:left; line-height:25px;}
.work dd h1{ font-size:16px; font-weight:100px;}
a.toudi{ background:url(/resources/lf/pic16.gif) no-repeat; width:31px; height:31px; display:block; margin:0 auto;}
a.toudi:hover{background:url(/resources/lf/pic17.gif) no-repeat;}
.fy_page{ float:right; margin:25px 0 10px; line-height:24px; }
.fy_page a{ float:left; padding:0 10px; margin-left:5px;border-radius:3px;behavior:url(/css/PIE.htc); position:relative; background:#efefef;}
.fy_page a.p_left{ margin-right:5px;}
.fy_page a:hover{ background:#0298e9; color:#fff;}
.fy_page span{ float:left; margin-left:5px;}
.fy_page a.n_right{ margin-left:10px;}
/***/
.lis_tit{ background:url(/resources/lf/pic18.jpg) no-repeat left center; padding-left:30px; margin-bottom:25px; font-size:18px; font-weight:100; color:#000;}
.hx{ background:#212d47;}
.hxx{ width:26px; padding-top:1px; background:#c9bc9c;}
.lst_dl li{ margin-top:10px;}
.lst_dl em{ background:#cacaca; text-align: center; line-height:16px; width:16px; height:16px; color:#fff; float:left; margin:3px 5px;
 font-style:inherit;}
.lst_dl em.frist{ background:#0298e9;}
.lst_dl em.thred{ background:#64c7fd;}
.lst_dl a{ float:left;}
.lst_dl span{ float:right;}
.lst_dl dt{ float:left; width:450px; height:225px;}
.lst_dl dd{ float:right; width:450px;height:225px; overflow:hidden;}
/**********/
.show_news{ margin-bottom:30px; background:#f5f5f5;}
.show_news dt{ float:left; border:1px solid #ccc;}
.show_news dd{ float:right; width:590px; margin-right:20px; padding-top:20px;}
.show_news dd p{ text-indent:2em;}
.show_news dd h1{ border-bottom:1px solid #aeaeae; padding-bottom:10px; margin-bottom:10px; font-size:16px;}
.show_news dd h1 p{ text-indent:0em;}
.show_news dd h1 span{ padding-top:13px; font-size:12px;}
.more{ float:right; margin-top:6px;}
.textd dt{ float:left;}
.textd dd{ float:right; width:680px;}
.textd dd p{ margin:5px 0px; text-indent:2em; font-size:13px;}

.txt_tied{ margin-top:35px; border-bottom:1px solid #212d47; padding-bottom:15px;}
.txt_tied h1{ font-size:16px; color:#000; font-weight:700;}
.txt_tied p{ margin-top:10px;}
.txtdt{ margin:20px;}
.txtdt p{ margin-top:10px; text-indent:2em; font-size:13px;}

.nvest{ /*height:182px;*/ border-bottom:1px dashed #ccc; padding-bottom:30px; margin-bottom:30px;}
.nvest dt{ width:321px; height:182px; float:left; display:none;}
.nvest img{width:321px; height:182px;}
.nvest dd{  margin:0 auto;  overflow:hidden;}
.nvest dd h2{ color:#212d47; font-size:18px; margin-top:10px; margin-bottom:15px;}
.nvest dd p{ text-indent:2em; margin-top:5px;}
/*****/
.jscroll-u, .jscroll-d{ background:#fff!important; border:0px!important; }
.jscroll-e{ width:10px!important; border:0px!important; background:#e6debf!important; margin-top:-10px!important;}
.jscroll-h{width:10px!important; border:0px!important; background:#0081cc!important;}
#a{ height:182px; margin-top:10px;}
.deciser{ float:left; width:520px;}
.deciser dt{ float:left; width:185px; display:none;}
.deciser dd{ /*float:right; width:300px; float:right;*/}
.deciser dd h3{ color:#212d47; font-size:18px; line-height:26px; font-weight:700}
.deciser dd h3 span{ font-size:14px; padding-left:15px;}
.deciser dd p{ margin-top:5px;}
.scroll_g{ float:right; width:360px;}
.scroll_g ul{ width:350px;}
.scroll_g li{ padding-left:20px; line-height:30px; cursor:pointer;}
.scroll_g li.chosexd{ background:#efead7;}
.scroll_g li.chosexd1{ background:#efead7;}
.scroll_g span{ float:left; font-size:13px;}
.scroll_g .name{ width:100px;}
.himg2{ display:none;}
.lst_dl{ position:relative;}
.lst_dl ul{ width:940px; position:absolute; left:0px; top:1px;}
.lst_dl li{ float:left; width:450px; margin-right:40px;}
.map_td{ float:left; width:400px; margin-left:60px;}
.dresses{ margin-bottom:25px;}
.dresses h2{ display:block; font-size:16px; color:#fff;  font-weight:700; margin-bottom:10px;}
.dresses h2 a{color:#000;}
.dresses h2 a:hover{ text-decoration:underline; color:#A79852;}
.w8d0{ width:800px; margin:0 auto; font-size:14px; border-bottom:1px solid #ddd; margin-top:40px;}
.big{ width:125px; height:125px; margin:0 auto; overflow:hidden;-moz-border-radius:62px; position:relative; -webkit-border-radius:62px; border-radius:62px;behavior:url(/css/pie.htc);}
.big img{ width:125px; height:125px;}
.gref{ background:#CACACA; width:125px; height:125px; position:absolute;left:0%;top:0px; opacity:0.5;FILTER:Alpha(Opacity='50')}
.slekse{ position:relative; border:1px solid #fff; padding:2px 15px; float:right; width:120px; cursor:pointer;}
.bgx{ background:url(/resources/lf/flooer.jpg) no-repeat right center; text-align:left}
.chaol{ position:absolute; background:#fff; text-align:left; bottom:26px; left:-1px; border:1px solid #656566; line-height:28px; width:130px; padding:0 10px; display:none;}
.chaol a{ display:block; margin:0px;}
.chaol a:hover{color:#000!important;}
dd.clear{float: none;}

#news_page_list{list-style: none;}
#news_page_list li{display: inline;}

.linkbox h3, .linkbox h3 a{color: #666; font-size: 16px;font-weight: normal;}
